[Unit]
Description = Cart Service
[Service]
User=roboshop
Environment=REDIS_HOST=REDIS-{{Env}}.devopspracticefree.online
Environment=CATALOGUE_HOST=CATALOGUE-{{Env}}.devopspracticefree.online
ExecStart=/bin/node /home/roboshop/cart/server.js
SyslogIdentifier=cart

[Install]
WantedBy=multi-user.target
